input {
  width: 100%;
}

.card {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-image {
  padding: 0;
  grid-area: image;
  height: 100%;
}

.container-description {
  padding: 0px 8px;
  grid-area: description;
  text-align: justify;
}

.container {
  display: grid;
  grid-auto-columns: 25% 75%;
  grid-template-areas: "image description";
  width: 100%;
  align-items: center;
}

.item {
  width: 20rem;
  max-height: 120px;
  margin: 15px;
}

span {
  display: inline-block;
  width: 100%;
  height: 100px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  font-size: xx-small;
}