.insert-item {
  position: absolute;
  display: flex;
  align-items: center;
  top: 35%;
  left: 15%;
  right: 15%;
  bottom: 35%;
  min-height: 100px;
  min-width: 350px;
  height: fit-content;
  width: fit-content;
  background-color: white;

  &__submit-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &__submit {
      width: auto;
    }
  }
}
