.header {
  display: flow-root;
  height: 50px;
  border-style: outset;
  width: 100%;
  
  &__link {
    margin-left: 20px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
}

.header :hover {
  font-weight: bold;
  transform: scale(1.1);
}

.active {
  font-weight: bold;
}