.carousel__container {
  display: grid;
  background-color: gray;
  width: 880px;
}

.carousel {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  &__header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 880px;
    margin-left: 0;
    &__title {
      margin-bottom: 0 ;
      padding-bottom: 0;
      min-height: 16px;
      color: white;
      font-size: medium;
    }
    &__remove {
      margin-right: 5px;
      background-color: gray;
      color: white;
      font-size: medium;
    }
  }
  &__items {
    display: contents;
  }
  &__image {
    height: 400px;
    width: 270px;
    overflow: hidden;
    margin: 0;
    transform: translateX(-35px);
    z-index: 0;
  }
  &__back {
    background-color: rgba(0, 0, 0, 0);
    height: 400px;
    color: white;
    width: 70px;
    transform: translateX(0px);
    margin: 0;
    z-index: 1;
    margin-right: auto;
    font-size: xx-large;
    border-style: hidden;
  }
  &__next {
    background-color: rgba(0, 0, 0, 0);
    height: 400px;
    color: white;
    width: 70px;
    &--full {
      transform: translateX(-70px);
    }
    margin: 0;
    z-index: 1;
    margin-left: auto;
    font-size: xx-large;
    border-style: hidden;
  }
  &__confirmation {
    position: absolute;
    display: flex;
    align-items: center;
    top: 35%;
    left: 15%;
    right: 15%;
    bottom: 35%;
    min-height: 100px;
    min-width: 350px;
    height: fit-content;
    width: fit-content;
    background-color: white;
  
    &__word {
      color: red;
    }
  
    &__submit-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  
      &__submit {
        width: auto;
      }
    }
  }
}
